# Storage & Database
chromadb==1.0.20
minio==7.2.15

# Data Processing
tqdm==4.67.1
langchain-docling==1.0.0     

# LLM & Embeddings
langchain==0.3.26
langchain-core>=0.3.70
langchain-community>=0.3.26
sentence-transformers==2.6.1
langchain-chroma==0.2.5

# Utilities
wget==3.2
pydantic>=2.10.0